body {
  background-image: url("eyes_closeup.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}


.Header {
  position: relative;
  background-color: #ff0000;
  border-radius: 5px;
  padding: 8px;
}

.infoBox1 {
  background-color: #ff0000;
  border-radius: 5px;
  padding: 8px;
  position: relative;
  top: 350px;
}

.infoBox2 {
  background-color: #ff0000;
  border-radius: 5px;
  padding: 8px;
  position: relative;
  top: 400px;
}

.infoBox3 {
  background-color: #ff0000;
  border-radius: 5px;
  padding: 8px;
  position: relative;
  top: 450px;
}
